.price-range-block {
    margin:3px;
}

.sliderText{
    width:100%;
    margin-bottom:30px;
    border-bottom: 2px solid blue;
    padding: 10px 0 10px 0px;
    font-weight:bold;
}
.ui-corner-all{
    border-radius: 50px;
}
.ui-slider-horizontal {
    height: .6em;
}
.ui-slider-horizontal {
    margin-bottom: 15px;
    width:100%;
}
.ui-widget-header {
    background: blue;
}

.price-range-field{
    width:100%; 
    
    background-color:#f9f9f9; 
    border: 1px solid #6e6666; 
    color: black; 
    font-family: myFont; 
    font: normal 14px Arial, Helvetica, sans-serif; 
    border-radius: 5px; 
    height:26px; 
    padding:5px;
}
.search-results-block{
    position: relative;
    display: block;
    clear: both;
}

